@using OnlineStore_HW.Models
@using OnlineStore_HW.Models.DTO
@using OnlineStore_HW.Models.Views

@model ProductView

<table class="table table-stri">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Name</td>
			<td>@Model.Product.Name</td>
		</tr>

		<tr>
			<th scope="row">2</th>
			<td>Description</td>
			<td>@(Model.Product.Description ?? "No description")</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Price</td>
			<td>@Model.Product.Price</td>
		</tr>
	</tbody>
</table>

<hr/>
<h3>Review: </h3>

	@using (Html.BeginForm("AddReview", "Products", FormMethod.Post))
	{

		
		<div class="mb-3">
			 @Html.LabelFor(model => model.ReviewDTO.Author, htmlAttributes: new { @class = "form-label" }) 
			 @Html.EditorFor(model => model.ReviewDTO.Author, new { htmlAttributes = new { @class = "form-control" } }) 
			 <span class="text-danger" asp-validation-for="@Model.ReviewDTO.Author"></span>
			@* <label for="Author" class="form-label">Author</label>
			<input type="text" class="form-control" id="Author" name="Author"> *@
		</div>

		<div class="mb-3">
			@* @Html.LabelFor(model => model.ReviewDTO.Text, htmlAttributes: new { @class = "form-label" }) 
			   @Html.EditorFor(model => model.ReviewDTO.Text, new { htmlAttributes = new { @class = "form-control" } }) *@
			<label for="Text" class="form-label">Text</label>
			<textarea class="form-control" id="Text" name="Text"></textarea>
			 <span class="text-danger" asp-validation-for="@Model.ReviewDTO.Text"></span>

			@*I can't figure it out. By some reason, html helpers doesn't transfer data(author,text) to action (it's empty)*@
			@*But tags work fine.*@
		</div>
		<div class="mb-3">
			<button class="btn btn-primary" type="submit">Send</button>
		</div>
	}

